@{
    Layout = null;
}

<html>
    <head>
        <meta charset="utf-8">
        <title>TODO API</title>
    </head>

    <body>
        <h1>TODO API</h1>

        <p>
            Para mais informações, visite o repositório no GitHub: <a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/ipt-ti2-2018-2019/TodoApiAjax">https://github.com/ipt-ti2-2018-2019/TodoApiAjax</a>
        </p>
    </body>
</html>